name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Trigger publish
        run: curl -X POST -H "Authorization: token ${{ secrets.TRIGGER_TOKEN }}" -H "Accept: application/vnd.github.v3+json" --data '{"event_type": "publish"}'  https://api.github.com/repos/clojure/clojure-org-style/dispatches
